<p-toast position="top-right"></p-toast>
<div class="grid">
    <div class="col-12">
        <div class="card">
            <h5>Ventas</h5>
            <div class="grid">
                <div class="col-12">
                    <div class="grid">
                        <div class="col-offset-4 col-4 text-center">
                            <div class="p-mb-3 mb-1">
                                <button pButton pRipple type="button" icon="pi pi-chevron-left" (click)="prev()"
                                    [disabled]="isFirstPage()" class="p-button-rounded p-button-text"></button>
                                <button pButton pRipple type="button" icon="pi pi-refresh" (click)="reset()"
                                    class="p-button-rounded p-button-text"></button>
                                <button pButton pRipple type="button" icon="pi pi-chevron-right" (click)="next()"
                                    [disabled]="isLastPage()" class="p-button-rounded p-button-text"></button>
                            </div>
                        </div>
                        <div class="col-4 text-right">
                            <button pButton pRipple type="button" icon="pi pi-plus" class="p-button-rounded"
                                [routerLink]="['/sales/add', nextSaleId]"></button>
                        </div>
                    </div>

                    <p-table #employeesDt [value]="sales" [paginator]="true" [rows]="rows"
                        [showCurrentPageReport]="true" [(first)]="first" responsiveLayout="scroll" dataKey="id"
                        currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} entradas"
                        [rowsPerPageOptions]="[10,25,50]" [globalFilterFields]="['id','name','rfc','position']">
                        <ng-template pTemplate="header">
                            <tr>
                                <th class="text-center"># Venta</th>
                                <th class="text-center">Empleado</th>
                                <th class="text-center">Fecha</th>
                                <th class="text-center">Total</th>
                                <th></th>
                            </tr>
                            <tr>
                                <th>
                                    <p-columnFilter type="text" field="id"></p-columnFilter>
                                </th>
                                <th>
                                    <p-columnFilter type="text" field="employee.name"></p-columnFilter>
                                </th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-sale>
                            <tr>
                                <td class="text-center">{{ sale.id }}</td>
                                <td class="text-center">{{ sale.employee.name | titlecase }}</td>
                                <td class="text-center">{{ formatDate(sale.date) }}</td>
                                <td class="text-center">$ {{ calculateTotal(sale) }}</td>
                                <td class="text-center">
                                    <button pButton pRipple type="button" icon="pi pi-eye"
                                        class="p-button-rounded p-button-info ml-1" [routerLink]="['/sales/view', sale.id]"></button>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
    </div>
</div>