<p-toast position="top-right"></p-toast>
<div class="grid">
    <div class="col-12">
        <div class="card">
            <h5>Empleados</h5>
            <div class="grid">
                <div class="col-12">
                    <div class="grid">
                        <div class="col-offset-4 col-4 text-center">
                            <div class="p-mb-3 mb-1">
                                <button pButton pRipple type="button" icon="pi pi-chevron-left" (click)="prev()" [disabled]="isFirstPage()"
                                    class="p-button-rounded p-button-text"></button>
                                <button pButton pRipple type="button" icon="pi pi-refresh" (click)="reset()"
                                    class="p-button-rounded p-button-text"></button>
                                <button pButton pRipple type="button" icon="pi pi-chevron-right" (click)="next()" [disabled]="isLastPage()"
                                    class="p-button-rounded p-button-text"></button>
                            </div>
                        </div>
                        <div class="col-4 text-right">
                            <button pButton pRipple type="button" icon="pi pi-plus" class="p-button-rounded" (click)="addEmployee = true"></button>
                        </div>
                    </div>

                    <p-table #employeesDt [value]="employees" [paginator]="true" [rows]="rows" [showCurrentPageReport]="true" [(first)]="first"
                        responsiveLayout="scroll" dataKey="id"
                        currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} entradas" [rowsPerPageOptions]="[10,25,50]"
                        [globalFilterFields]="['id','name','rfc','position']">
                        <!-- <ng-template pTemplate="caption">
                            <div class="flex">
                                <span class="p-input-icon-left ml-auto">
                                    <i class="pi pi-search"></i>
                                    <input pInputText type="text" (input)="applyFilterGlobal($event, 'contains')" placeholder="Buscar">
                                </span>
                            </div>
                        </ng-template> -->
                        <ng-template pTemplate="header">
                            <tr>
                                <th class="text-center">#</th>
                                <th class="text-center">Nombre</th>
                                <th class="text-center">RFC</th>
                                <th class="text-center">Puesto</th>
                                <th class="text-center">Estado</th>
                                <th></th>
                            </tr>
                            <tr>
                                <th>
                                    <p-columnFilter type="text" field="id"></p-columnFilter>
                                </th>
                                <th>
                                    <p-columnFilter type="text" field="name"></p-columnFilter>
                                </th>
                                <th>
                                    <p-columnFilter type="text" field="rfc"></p-columnFilter>
                                </th>
                                <th>
                                    <p-columnFilter field="position" matchMode="equals" [showMenu]="false">
                                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                            <p-dropdown [ngModel]="value" [options]="positionsFilter" (onChange)="filter($event.value)"
                                                placeholder="Elige una opción" [showClear]="true">
                                                <ng-template let-option pTemplate="item">
                                                    <span>{{option.label}}</span>
                                                </ng-template>
                                            </p-dropdown>
                                        </ng-template>
                                    </p-columnFilter>
                                </th>
                                <th>
                                    <p-columnFilter field="isActive" matchMode="equals" [showMenu]="false">
                                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                            <p-dropdown [ngModel]="value" [options]="statuses" (onChange)="filter($event.value)" placeholder="Elige una opción" [showClear]="true">
                                                <ng-template let-option pTemplate="item">
                                                    <p-badge [value]="option.label" [severity]="option.value ? 'success' : 'danger'"></p-badge>
                                                </ng-template>
                                            </p-dropdown>
                                        </ng-template>
                                    </p-columnFilter>
                                </th>
                                <th></th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-employee>
                            <tr>
                                <td class="text-center">{{ employee.id }}</td>
                                <td class="text-center">{{ employee.name | titlecase }}</td>
                                <td class="text-center">{{ employee.rfc | uppercase }}</td>
                                <td class="text-center">{{ employee.position | titlecase }}</td>
                                <td class="text-center">
                                    <p-badge [value]="employee.isActive ? 'ACTIVO' : 'INACTIVO'"
                                        [severity]="employee.isActive ? 'success' : 'danger'"></p-badge>
                                </td>
                                <td class="text-center">
                                    <button pButton pRipple type="button" icon="pi pi-pencil" class="p-button-rounded p-button-success" (click)="openUpdate(employee.id)"></button>
                                    <button pButton pRipple type="button" icon="pi pi-eye" class="p-button-rounded p-button-info ml-1" (click)="openView(employee.id)"></button>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
    </div>
</div>

<p-sidebar [style]="{width: '28em'}" [(visible)]="addEmployee" position="right" [dismissible]="false" [showCloseIcon]="false"
    [closeOnEscape]="false" [baseZIndex]="10000">
    <h1 style="font-weight:normal">Agregar</h1>
    <div class="p-fluid">
        <div class="field">
            <label for="id">Código</label>
            <input id="id" type="number" [formControl]="id" pInputText />
        </div>
        <div class="field">
            <label for="name">Nombre</label>
            <input id="name" type="text" [formControl]="name" pInputText />
            <small id="name-help" class="p-invalid" *ngIf="!name.valid && name.touched">Nombre es requerido.</small>
        </div>
        <div class="field">
            <label for="price">RFC</label>
            <input id="price" type="text" [formControl]="rfc" pInputText />
            <small id="price-help" class="p-invalid" *ngIf="!rfc.valid && rfc.touched">RFC es requerido.</small>
        </div>
        <div class="field">
            <label for="icon">Fecha de Nacimiento</label>
            <p-calendar [formControl]="birthdate" dateFormat="dd-mm-yy" [showIcon]="true" inputId="icon"></p-calendar>
        </div>
        <div class="field">
            <label for="description">Domicilio</label>
            <textarea name="description" [formControl]="address" pInputTextarea rows="5" cols="30"></textarea>
            <small id="description-help" class="p-invalid" *ngIf="!address.valid && address.touched">Domicilio es
                requerido.</small>
        </div>
        <div class="field">
            <label for="price">Teléfono</label>
            <input id="price" type="text" [formControl]="telephone" pInputText />
            <small id="price-help" class="p-invalid" *ngIf="!telephone.valid && telephone.touched">Teléfono es
                requerido.</small>
        </div>
        <div class="field">
            <label for="price">Puesto</label>
            <!-- <input id="price" type="text" [formControl]="position" pInputText /> -->
            <p-dropdown [options]="positions" [formControl]="position" [showClear]="true" [virtualScroll]="true" [virtualScrollItemSize]="1"></p-dropdown>
            <small id="price-help" class="p-invalid" *ngIf="!position.valid && position.touched">Puesto es requerido.</small>
        </div>
    </div>
    <div class="col-12 p-buttonset">
        <button pButton pRipple label="Guardar" icon="pi pi-check" (click)="save()" [disabled]="!formValid()"></button>
        <button pButton pRipple label="Cancelar" icon="pi pi-times" (click)="cancel()" class="p-button-danger"></button>
    </div>
</p-sidebar>

<p-sidebar [style]="{width: '28em'}" [(visible)]="editEmployee" position="right" [dismissible]="false" [showCloseIcon]="false"
    [closeOnEscape]="false" [baseZIndex]="10000">
    <h1 style="font-weight:normal">Editar</h1>
    <div class="p-fluid">
        <div class="field">
            <label for="id">Código</label>
            <input id="id" type="number" [formControl]="id" pInputText />
        </div>
        <div class="field">
            <label for="name">Nombre</label>
            <input id="name" type="text" [formControl]="name" pInputText />
            <small id="name-help" class="p-invalid" *ngIf="!name.valid && name.touched">Nombre es requerido.</small>
        </div>
        <div class="field">
            <label for="price">RFC</label>
            <input id="price" type="text" [formControl]="rfc" pInputText />
            <small id="price-help" class="p-invalid" *ngIf="!rfc.valid && rfc.touched">RFC es requerido.</small>
        </div>
        <div class="field">
            <label for="icon">Fecha de Nacimiento</label>
            <p-calendar [formControl]="birthdate" dateFormat="dd-mm-yy" [showIcon]="true" inputId="icon"></p-calendar>
        </div>
        <div class="field">
            <label for="description">Domicilio</label>
            <textarea name="description" [formControl]="address" pInputTextarea rows="5" cols="30"></textarea>
            <small id="description-help" class="p-invalid" *ngIf="!address.valid && address.touched">Domicilio es
                requerido.</small>
        </div>
        <div class="field">
            <label for="price">Teléfono</label>
            <input id="price" type="text" [formControl]="telephone" pInputText />
            <small id="price-help" class="p-invalid" *ngIf="!telephone.valid && telephone.touched">Teléfono es requerido.</small>
        </div>
        <div class="field">
            <label for="price">Puesto</label>
            <!-- <input id="price" type="text" [formControl]="position" pInputText /> -->
            <p-dropdown [options]="positions" [formControl]="position" [showClear]="true" [virtualScroll]="true" [virtualScrollItemSize]="1"></p-dropdown>
            <small id="price-help" class="p-invalid" *ngIf="!position.valid && position.touched">Puesto es requerido.</small>
        </div>
        <div class="field">
            <label for="isActive">Activo</label><br>
            <p-inputSwitch name="isActive" [formControl]="isActive"></p-inputSwitch>
        </div>
    </div>
    <div class="col-12 p-buttonset">
        <button pButton pRipple label="Guardar" icon="pi pi-check" (click)="update()"
            [disabled]="!formValid()"></button>
        <button pButton pRipple label="Cancelar" icon="pi pi-times" (click)="cancel()" class="p-button-danger"></button>
    </div>
</p-sidebar>

<p-sidebar [style]="{width: '28em'}" [(visible)]="viewEmployee" position="right" [dismissible]="false"
    [closeOnEscape]="false" [baseZIndex]="10000"
    (onHide)="onViewHide()">
    <h1 style="font-weight:normal">Detalle</h1>
    <div class="p-fluid">
        <div class="field">
            <label for="id">Código</label>
            <input id="id" type="number" [formControl]="id" pInputText />
        </div>
        <div class="field">
            <label for="name">Nombre</label>
            <input id="name" type="text" [formControl]="name" pInputText />
            <small id="name-help" class="p-invalid" *ngIf="!name.valid && name.touched">Nombre es requerido.</small>
        </div>
        <div class="field">
            <label for="price">RFC</label>
            <input id="price" type="text" [formControl]="rfc" pInputText />
            <small id="price-help" class="p-invalid" *ngIf="!rfc.valid && rfc.touched">RFC es requerido.</small>
        </div>
        <div class="field">
            <label for="icon">Fecha de Nacimiento</label>
            <p-calendar [formControl]="birthdate" dateFormat="dd-mm-yy" [showIcon]="true" inputId="icon"></p-calendar>
        </div>
        <div class="field">
            <label for="description">Domicilio</label>
            <textarea name="description" [formControl]="address" pInputTextarea rows="5" cols="30"></textarea>
            <small id="description-help" class="p-invalid" *ngIf="!address.valid && address.touched">Domicilio es
                requerido.</small>
        </div>
        <div class="field">
            <label for="price">Teléfono</label>
            <input id="price" type="text" [formControl]="telephone" pInputText />
            <small id="price-help" class="p-invalid" *ngIf="!telephone.valid && telephone.touched">Teléfono es
                requerido.</small>
        </div>
        <div class="field">
            <label for="price">Puesto</label>
            <!-- <input id="price" type="text" [formControl]="position" pInputText /> -->
            <p-dropdown [options]="positions" [formControl]="position" [showClear]="true" [virtualScroll]="true"
                [virtualScrollItemSize]="1"></p-dropdown>
            <small id="price-help" class="p-invalid" *ngIf="!position.valid && position.touched">Puesto es
                requerido.</small>
        </div>
        <div class="field">
            <label for="isActive">Activo</label><br>
            <p-inputSwitch name="isActive" [formControl]="isActive"></p-inputSwitch>
        </div>
    </div>
</p-sidebar>