<p-toast position="top-right"></p-toast>
<div class="grid">
    <div class="col-12">
        <div class="card">
            <h5>Productos</h5>
            <div class="grid">
                <div class="col-12">
                    <div class="grid">
                        <div class="col-offset-4 col-4 text-center">
                            <div class="p-mb-3 mb-1">
                                <button pButton pRipple type="button" icon="pi pi-chevron-left" (click)="prev()" [disabled]="isFirstPage()"
                                    class="p-button-rounded p-button-text"></button>
                                <button pButton pRipple type="button" icon="pi pi-refresh" (click)="reset()" class="p-button-rounded p-button-text"></button>
                                <button pButton pRipple type="button" icon="pi pi-chevron-right" (click)="next()" [disabled]="isLastPage()"
                                    class="p-button-rounded p-button-text"></button>
                            </div>
                        </div>
                        <div class="col-4 text-right">
                            <button pButton pRipple type="button" icon="pi pi-plus" class="p-button-rounded" (click)="addProduct = true"></button>
                        </div>
                    </div>
                    
                    <p-table [value]="products" [paginator]="true" [rows]="rows" [showCurrentPageReport]="true" [(first)]="first"
                        responsiveLayout="scroll" dataKey="id"
                        currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} entradas"
                        [rowsPerPageOptions]="[10,25,50]">
                        <ng-template pTemplate="header">
                            <tr>
                                <th class="text-center">#</th>
                                <th class="text-center">Nombre</th>
                                <th class="text-center">Precio</th>
                                <th class="text-center">Cantidad disponible</th>
                                <th class="text-center">Estado</th>
                                <th></th>
                            </tr>
                            <tr>
                                <th>
                                    <p-columnFilter type="text" field="id"></p-columnFilter>
                                </th>
                                <th>
                                    <p-columnFilter type="text" field="name"></p-columnFilter>
                                </th>
                                <th>
                                    <p-columnFilter type="text" field="price"></p-columnFilter>
                                </th>
                                <th>
                                    <p-columnFilter type="text" field="amountAvailable"></p-columnFilter>
                                </th>
                                <th>
                                    <p-columnFilter field="isActive" matchMode="equals" [showMenu]="false">
                                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                            <p-dropdown [ngModel]="value" [options]="statuses" (onChange)="filter($event.value)" placeholder="Elige una opción" [showClear]="true">
                                                <ng-template let-option pTemplate="item">
                                                    <p-badge [value]="option.label" [severity]="option.value ? 'success' : 'danger'"></p-badge>
                                                </ng-template>
                                            </p-dropdown>
                                        </ng-template>
                                    </p-columnFilter>
                                </th>
                                <th></th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-product>
                            <tr>
                                <td class="text-center">{{ product.id }}</td>
                                <td class="text-center">{{ product.name | titlecase }}</td>
                                <td class="text-center">$ {{ product.price | number: '1.2' }}</td>
                                <td class="text-center">{{ product.amountAvailable }}</td>
                                <td class="text-center">
                                    <p-badge [value]="product.isActive ? 'ACTIVO' : 'INACTIVO'" [severity]="product.isActive ? 'success' : 'danger'"></p-badge>
                                </td>
                                <td class="text-center">
                                    <button pButton pRipple type="button" icon="pi pi-pencil" class="p-button-rounded p-button-success" (click)="openUpdate(product.id)"></button>
                                    <button pButton pRipple type="button" icon="pi pi-eye" class="p-button-rounded p-button-info ml-1" (click)="openView(product.id)"></button>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
    </div>
</div>

<p-sidebar [(visible)]="addProduct" position="right" [dismissible]="false" [showCloseIcon]="false" [closeOnEscape]="false" [baseZIndex]="10000">
    <h1 style="font-weight:normal">Agregar</h1>
    <div class="p-fluid">
        <div class="field">
            <label for="id">Código</label>
            <input id="id" type="number" [formControl]="id" pInputText />
        </div>
        <div class="field">
            <label for="name">Nombre</label>
            <input id="name" type="text" [formControl]="name" pInputText />
            <small id="name-help" class="p-invalid" *ngIf="!name.valid && name.touched">Nombre es requerido.</small>
        </div>
        <div class="field">
            <label for="price">Precio</label>
            <input id="price" type="number" [formControl]="price" pInputText />
            <small id="price-help" class="p-invalid" *ngIf="!price.valid && price.touched">Precio es requerido.</small>
        </div>
        <div class="field">
            <label for="price">Cantidad Disponible</label>
            <input id="price" type="number" [formControl]="amountAvailable" pInputText />
            <small id="price-help" class="p-invalid" *ngIf="!amountAvailable.valid && amountAvailable.touched">Cantidad disponible es requerido.</small>
        </div>
        <div class="field">
            <label for="description">Descripción</label>
            <textarea name="description" [formControl]="description" pInputTextarea rows="5" cols="30"></textarea>
            <small id="description-help" class="p-invalid" *ngIf="!description.valid && description.touched">Descripción es requerido.</small>
        </div>
        <div class="field">
            <label for="hasIngredients">¿Tiene ingredientes?</label><br>
            <p-inputSwitch name="hasIngredients" [formControl]="hasIngredients"></p-inputSwitch>
        </div>
        <ng-container *ngIf="hasIngredients.value">
            <div class="field">
                <label for="ingredient">Buscar ingrediente</label>
                <p-autoComplete id="ingredient" [formControl]="chosenIngredient" [suggestions]="filteredIngredients"
                    (completeMethod)="filterIngredients($event)" field="name" [dropdown]="true">
                    <ng-template let-ingredient pTemplate="item">
                        <div>{{ingredient.name | titlecase }}</div>
                    </ng-template>
                </p-autoComplete>
            </div>
            <div class="field">
                <label for="amount">Cantidad</label>
                <p-inputNumber id="amount" [formControl]="amount" [showButtons]="true" buttonLayout="horizontal"
                    inputId="horizontal" spinnerMode="horizontal" mode="decimal" [step]=".1"
                    [minFractionDigits]="2" decrementButtonClass="p-button-danger"
                    incrementButtonClass="p-button-success" incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus"
                    [disabled]="!chosenIngredient.valid"></p-inputNumber>
            </div>
            <div class="field">
                <button pButton type="button" icon="pi pi-plus" class="p-button-rounded p-button-success"
                    (click)="addProductIngredient()"></button>
            </div>
            <p-table [value]="productsIngredients" styleClass="p-datatable-striped" responsiveLayout="scroll">
                <ng-template pTemplate="header">
                    <tr>
                        <th class="text-center">Cantidad</th>
                        <th class="text-center">Ingrediente</th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-pIngredient>
                    <tr>
                        <th class="text-center">{{pIngredient.amount}}</th>
                        <th class="text-center">{{pIngredient.ingredient.name | titlecase }}</th>
                        <th class="text-center">
                            <button pButton pRipple type="button" icon="pi pi-trash"
                                class="p-button-rounded p-button-danger p-button-text"
                                (click)="removeProductIngredient(pIngredient)"></button>
                        </th>
                    </tr>
                </ng-template>
            </p-table>
        </ng-container>
    </div>
    <div class="col-12 p-buttonset">
        <button pButton pRipple label="Guardar" icon="pi pi-check" (click)="save()" [disabled]="!formValid()"></button>
        <button pButton pRipple label="Cancelar" icon="pi pi-times" (click)="cancel()" class="p-button-danger"></button>
    </div>
</p-sidebar>

<p-sidebar [(visible)]="editProduct" position="right" [dismissible]="false" [showCloseIcon]="false" [closeOnEscape]="false" [baseZIndex]="10000">
    <h1 style="font-weight:normal">Editar</h1>
    <div class="p-fluid">
        <div class="field">
            <label for="id">Código</label>
            <input id="id" type="number" [formControl]="id" pInputText />
        </div>
        <div class="field">
            <label for="name">Nombre</label>
            <input id="name" type="text" [formControl]="name" pInputText />
            <small id="name-help" class="p-invalid" *ngIf="!name.valid && name.touched">Nombre es requerido.</small>
        </div>
        <div class="field">
            <label for="price">Precio</label>
            <input id="price" type="number" [formControl]="price" pInputText />
            <small id="price-help" class="p-invalid" *ngIf="!price.valid && price.touched">Precio es requerido.</small>
        </div>
        <div class="field">
            <label for="price">Cantidad Disponible</label>
            <input id="price" type="number" [formControl]="amountAvailable" pInputText />
            <small id="price-help" class="p-invalid" *ngIf="!amountAvailable.valid && amountAvailable.touched">Cantidad
                disponible es requerido.</small>
        </div>
        <div class="field">
            <label for="description">Descripción</label>
            <textarea name="description" [formControl]="description" pInputTextarea rows="5" cols="30"></textarea>
            <small id="description-help" class="p-invalid" *ngIf="!description.valid && description.touched">Descripción es
                requerido.</small>
        </div>
        <div class="field">
            <label for="isActive">Activo</label><br>
            <p-inputSwitch name="isActive" [formControl]="isActive"></p-inputSwitch>
        </div>
    </div>
    <div class="col-12 p-buttonset">
        <button pButton pRipple label="Guardar" icon="pi pi-check" (click)="update()" [disabled]="!formValid()"></button>
        <button pButton pRipple label="Cancelar" icon="pi pi-times" (click)="cancel()" class="p-button-danger"></button>
    </div>
</p-sidebar>

<p-sidebar [style]="{width: '28em'}" [(visible)]="viewProduct" position="right" [dismissible]="false"
    [closeOnEscape]="false" [baseZIndex]="10000" (onHide)="onViewHide()">
    <h1 style="font-weight:normal">Detalle</h1>
    <div class="p-fluid">
        <div class="field">
            <label for="id">Código</label>
            <input id="id" type="number" [formControl]="id" pInputText />
        </div>
        <div class="field">
            <label for="name">Nombre</label>
            <input id="name" type="text" [formControl]="name" pInputText />
            <small id="name-help" class="p-invalid" *ngIf="!name.valid && name.touched">Nombre es requerido.</small>
        </div>
        <div class="field">
            <label for="price">Precio</label>
            <input id="price" type="number" [formControl]="price" pInputText />
            <small id="price-help" class="p-invalid" *ngIf="!price.valid && price.touched">Precio es requerido.</small>
        </div>
        <div class="field">
            <label for="price">Cantidad Disponible</label>
            <input id="price" type="number" [formControl]="amountAvailable" pInputText />
            <small id="price-help" class="p-invalid" *ngIf="!amountAvailable.valid && amountAvailable.touched">Cantidad
                disponible es requerido.</small>
        </div>
        <div class="field">
            <label for="description">Descripción</label>
            <textarea name="description" [formControl]="description" pInputTextarea rows="5" cols="30"></textarea>
            <small id="description-help" class="p-invalid" *ngIf="!description.valid && description.touched">Descripción es
                requerido.</small>
        </div>
        <div class="field">
            <label for="isActive">Activo</label><br>
            <p-inputSwitch name="isActive" [formControl]="isActive"></p-inputSwitch>
        </div>
        <div class="field">
            <label>Ingredientes</label>
            <p-table [value]="productsIngredients" styleClass="p-datatable-striped" responsiveLayout="scroll">
                <ng-template pTemplate="header">
                    <tr>
                        <th class="text-center">Cantidad</th>
                        <th class="text-center">Ingrediente</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-pIngredient>
                    <tr>
                        <th class="text-center">{{pIngredient.amount}}</th>
                        <th class="text-center">{{pIngredient.ingredient.name | titlecase }}</th>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</p-sidebar>